
        <section id="page-title">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="mainTitle">项目管理</h1>
                </div>
                <ol class="breadcrumb">
                    <li>
                        <span>HOME</span>
                    </li>
                    <li>
                        <span>CMDB</span>
                    </li>
                    <li class="active">
                        <span>项目管理</span>
                    </li>
                </ol>
            </div>
        </section>
        <div class="container-fluid container-fullw bg-white">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 page-tool-bar">
                            <a class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="$ctrl.init_create_form_data(createForm)">
                                <i class="ti-plus"></i>
                                新增项目</a>
                        </div>

                    </div>
                </div>

                <div class="">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> 项目名称 </th>
                                <th> 父项目 </th>
                                <th> 备注 </th>
                                <th> 操作 </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="project in $ctrl.projects">
                                <td> {{ project.id }} </td>
                                <td> {{ project.name }} </td>
                                <td> {{ project.parent }} </td>
                                <td> {{ project.memo }} </td>
                                <td>
                                    <span class="todo-bar">
                                        <i class="fa fa-edit" data-toggle="modal" data-target=".edit-model" ng-click="$ctrl.init_change_form_data(changeForm, project)"  title="编辑此项目"></i>
                                    </span>
                                    <span class="todo-bar">
                                        <i class="fa fa-close" ng-click="$ctrl.delete_project(project.id)"  title="删除项目"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <div style="text-align: right">
                        <ul class="pagination">
                            <li>
                                <a href="" style="cursor:pointer" ng-click="$ctrl.previous_page()">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <li ng-repeat="p in $ctrl.get_pages()" class="{{ $ctrl.is_active(p) }}">
                                <a href="" ng-click="$ctrl.change_page(p)"  style="cursor:pointer"> {{ p }} </a>
                            </li>
                            <li>
                                <a href=""  style="cursor:pointer" ng-click="$ctrl.next_page()">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flyover" ng-show="$ctrl.loading">
                    <div class="mask"></div>
                    <div class="alert">
                        <strong><img src="/static/images/loading.gif" width="64"></strong>
                    </div>
                </div>
            </div>


        </div>
        <div class="modal fade bs-example-modal-lg"  role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-times-circle-o fa-lg" aria-hidden="true"></i></span>
                        </button>
                        <h4 class="modal-title">添加项目</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-horizontal" name="createForm" novalidate ng-submit="submitForm(createForm.$valid)">
                            <div class="form-group" ng-class="{true: 'has-error', false: ''}[createForm.name.$dirty &&  createForm.name.$invalid]">
                                <label class="col-sm-2 control-label" for="name">
                                    项目名称
                                </label>
                                <div class="col-sm-10" >
                                    <input type="text" name="name" placeholder="项目名称" id="name" class="form-control" required ng-model="$ctrl.create_form_data.name" minlength=2 maxlength=64>
                                    <span ng-show="createForm.name.$dirty &&  createForm.name.$invalid">
                                        <span ng-show="createForm.name.$error.required" class="help-block">项目名称不能为空</span>
                                        <span ng-show="createForm.name.$error.maxlength||createForm.name.$error.minlength" class="help-block">项目名称必须为2-64个字符</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="parent">
                                    父项目
                                </label>
                                <div class="col-sm-10">
                                    <select class="js-example-basic-single js-states form-control" name="parent" id="parent" ng-model="$ctrl.create_form_data.parent">
                                        <option value="0">-------------</option>
                                        <option ng-repeat="project in $ctrl.projects_select" value="{{ project.id }}">{{ project.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="memo">
                                    备注
                                </label>
                                <div class="col-sm-10" >
                                    <textarea type="text" name="memo" placeholder="备注" id="memo" class="form-control" ng-model="$ctrl.create_form_data.memo"></textarea>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-disabled="createForm.$invalid" ng-click="$ctrl.create_project(createForm)">
                            确定
                        </button>
                        <button type="button" class="btn btn-primary btn-o" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade edit-model"  role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-times-circle-o fa-lg" aria-hidden="true"></i></span>
                        </button>
                        <h4 class="modal-title">编辑项目</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-horizontal" name="changeForm" novalidate ng-submit="submitForm(changeForm.$valid)">
                            <div class="form-group" ng-class="{true: 'has-error', false: ''}[changeForm.name.$dirty &&  changeForm.name.$invalid]">
                                <label class="col-sm-2 control-label" for="edit_name">
                                    项目名称
                                </label>
                                <div class="col-sm-10" >
                                    <input type="text" name="edit_name" placeholder="项目名称" id="edit_name" class="form-control" required ng-model="$ctrl.change_form_data.name" minlength=2 maxlength=64>
                                    <span ng-show="changeForm.name.$dirty &&  changeForm.name.$invalid">
                                        <span ng-show="changeForm.name.$error.required" class="help-block">项目名称不能为空</span>
                                        <span ng-show="changeForm.name.$error.maxlength||changeForm.name.$error.minlength" class="help-block">项目名称必须为2-64个字符</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="edit_parent">
                                    父项目
                                </label>
                                <div class="col-sm-10">
                                    <select class="js-example-basic-single js-states form-control" name="edit_parent" id="edit_parent" ng-model="$ctrl.change_form_data.parent_id">
                                        <option value="0">-------------</option>
                                        <option ng-repeat="project in $ctrl.projects_select" value="{{ project.id }}" >{{ project.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="edit_memo">
                                    备注
                                </label>
                                <div class="col-sm-10" >
                                    <textarea type="text" name="edit_memo" placeholder="备注" id="edit_memo" class="form-control" ng-model="$ctrl.change_form_data.memo"></textarea>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-disabled="changeForm.$invalid" ng-click="$ctrl.change_project(changeForm)">
                            确定
                        </button>
                        <button type="button" class="btn btn-primary btn-o" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </div>
            </div>

        </div>



