        <section id="page-title">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="mainTitle">机柜管理</h1>
                </div>
                <ol class="breadcrumb">
                    <li>
                        <span>HOME</span>
                    </li>
                    <li>
                        <span>CMDB</span>
                    </li>
                    <li class="active">
                        <span>机柜管理</span>
                    </li>
                </ol>
            </div>
        </section>
        <div class="container-fluid container-fullw bg-white">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 page-tool-bar">
                            <a class="btn btn-default" data-toggle="modal" data-target="#create-model" ng-click="$ctrl.init_create_form_data(createForm)">
                                <i class="ti-plus"></i>
                                新增机柜</a>
                        </div>

                    </div>
                </div>

                <div class="">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> 机柜编号 </th>
                                <th> 机房 </th>
                                <th> 槽位数 </th>
                                <th> 备注 </th>
                                <th> 操作 </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cabinet in $ctrl.cabinets">
                                <td> {{ cabinet.id }} </td>
                                <td> {{ cabinet.number }} </td>
                                <td> {{ cabinet.room }} </td>
                                <td> {{ cabinet.slotcount }} </td>
                                <td> {{ cabinet.memo }} </td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <div style="text-align: right">
                        <ul class="pagination">
                            <li>
                                <a href="" style="cursor:pointer" ng-click="$ctrl.previous_page()">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <li ng-repeat="p in $ctrl.get_pages()" class="{{ $ctrl.is_active(p) }}">
                                <a href="" ng-click="$ctrl.change_page(p)"  style="cursor:pointer"> {{ p }} </a>
                            </li>
                            <li>
                                <a href=""  style="cursor:pointer" ng-click="$ctrl.next_page()">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flyover" ng-show="$ctrl.loading">
                    <div class="mask"></div>
                    <div class="alert">
                        <strong><img src="/static/images/loading.gif" width="64"></strong>
                    </div>
                </div>
            </div>
        </div>