        <section id="page-title">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="mainTitle">机柜管理</h1>
                </div>
                <ol class="breadcrumb">
                    <li>
                        <span>HOME</span>
                    </li>
                    <li>
                        <span>CMDB</span>
                    </li>
                    <li class="active">
                        <span>机柜管理</span>
                    </li>
                </ol>
            </div>
        </section>
        <div class="container-fluid container-fullw bg-white">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 page-tool-bar">
                            <a class="btn btn-default" data-toggle="modal" data-target="#create-model" ng-click="$ctrl.init_create_form_data(createForm)">
                                <i class="ti-plus"></i>
                                新增机柜</a>
                        </div>

                    </div>
                </div>

                <div class="">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> 机柜编号 </th>
                                <th> 机房 </th>
                                <th> 槽位数 </th>
                                <th> 备注 </th>
                                <th> 操作 </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cabinet in $ctrl.cabinets">
                                <td> {{ cabinet.id }} </td>
                                <td> {{ cabinet.number }} </td>
                                <td> {{ cabinet.room }} </td>
                                <td> {{ cabinet.slotcount }} </td>
                                <td> {{ cabinet.memo }} </td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <div style="text-align: right">
                        <ul class="pagination">
                            <li>
                                <a href="" style="cursor:pointer" ng-click="$ctrl.previous_page()">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <li ng-repeat="p in $ctrl.get_pages()" class="{{ $ctrl.is_active(p) }}">
                                <a href="" ng-click="$ctrl.change_page(p)"  style="cursor:pointer"> {{ p }} </a>
                            </li>
                            <li>
                                <a href=""  style="cursor:pointer" ng-click="$ctrl.next_page()">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flyover" ng-show="$ctrl.loading">
                    <div class="mask"></div>
                    <div class="alert">
                        <strong><img src="/static/images/loading.gif" width="64"></strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg"  role="dialog" aria-labelledby="" aria-hidden="true" id="create-model">
            <div class="modal-dialog modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-times-circle-o fa-lg" aria-hidden="true"></i></span>
                        </button>
                        <h4 class="modal-title">添加机柜</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-horizontal" name="createForm" novalidate ng-submit="submitForm(createForm.$valid)">
                            <div class="form-group" ng-class="{true: 'has-error', false: ''}[createForm.number.$dirty &&  createForm.number.$invalid]">
                                <label class="col-sm-2 control-label" for="number">
                                    机柜编号
                                </label>
                                <div class="col-sm-10" >
                                    <input type="text" name="number" placeholder="机柜编号" id="name" class="form-control" required ng-model="$ctrl.create_form_data.number" minlength=2 maxlength=100>
                                    <span ng-show="createForm.number.$dirty &&  createForm.number.$invalid">
                                        <span ng-show="createForm.number.$error.required" class="help-block">机柜编号不能为空</span>
                                        <span ng-show="createForm.number.$error.maxlength||createForm.number.$error.minlength" class="help-block">名称必须为2-100个字符</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="machineroom">
                                    机房
                                </label>
                                <div class="col-sm-10">
                                    <select class="js-example-basic-single js-states form-control" name="machineroom" id="machineroom" ng-model="$ctrl.create_form_data.machineroom">
                                        <option ng-repeat="machineroom in $ctrl.machinerooms_select" value="{{ machineroom.id }}">{{ machineroom.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="slotcount">
                                    槽位数
                                </label>
                                <div class="col-sm-10" >
                                    <input type="number" name="slotcount" placeholder="槽位数" id="slotcount" class="form-control" ng-model="$ctrl.create_form_data.slotcount" maxlength=30>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="memo">
                                    备注
                                </label>
                                <div class="col-sm-10" >
                                    <textarea type="text" name="memo" placeholder="备注" id="memo" class="form-control" ng-model="$ctrl.create_form_data.memo"></textarea>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-disabled="createForm.$invalid" ng-click="$ctrl.create_cabinet(createForm)">
                            确定
                        </button>
                        <button type="button" class="btn btn-primary btn-o" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </div>
            </div>

        </div>
