@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 70px auto;
    }
}
#page-title {
    padding: 24px 0;
}

.page-tool-bar {
    padding: 0px 0px 15px 0px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}
ul.sub-menu li a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.modal-body {
    background-color: #fff;
}
.help-block {
    margin-bottom: 0px;
}
.detail-row {
    padding-bottom: 20px;
}
.detail-label {
    text-align: right;
}


.flyover .mask {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: black;
    z-index: 1049;
}
.flyover .alert{
    left: 50%;
    top: 35%;
    position: fixed;
    z-index: 1050;
}
.avatar-image{
    float: left;
    margin-right: 5px;
    width: 39px;
    margin-top: -2px;
    border-radius: 20%;
}