        <section id="page-title">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="mainTitle">用户组管理</h1>
                </div>
                <ol class="breadcrumb">
                    <li>
                        <span>HOME</span>
                    </li>
                    <li>
                        <span>系统设置</span>
                    </li>
                    <li class="active">
                        <span>用户组管理</span>
                    </li>
                </ol>
            </div>
        </section>
        <div class="container-fluid container-fullw bg-white">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 page-tool-bar">
                            <a class="btn btn-default" data-toggle="modal" data-target="#create-modal" ng-click="$ctrl.init_create_form_data(createForm)">
                                <i class="ti-plus"></i>
                                新增用户组</a>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> 组名 </th>
                                <th> 操作 </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="group in $ctrl.groups">
                                <td> {{ group.id }} </td>
                                <td> <a href="" ng-click="$ctrl.show_permissions(group)">{{ group.name }}</a> </td>
                                <td>
                                    <span class="todo-bar">
                                        <i class="fa fa-edit" data-toggle="modal" data-target="#edit-modal"  title="编辑此用户组" ng-click="$ctrl.init_change_form_data(editForm, group)"></i>
                                    </span>
                                    <span class="todo-bar">
                                        <i class="fa fa-close" title="删除用户组" ng-click="$ctrl.delete_group(group.id)"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-white">
                        <div class="panel-heading border-light">
                            <h4 class="panel-title">资产权限</h4>
                            <div class="panel-tools" >
                                <button type="button" class="btn btn-wide btn-primary" style="margin-top: -7px;" ng-click="$ctrl.change_permissions()">
										<i class="ti-reload"></i> 更新用户组权限
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover" id="sample-table-1">
                                <thead>
                                    <tr>
                                        <th>项目</th>
                                        <th>查看</th>
                                        <th>添加</th>
                                        <th>编辑</th>
                                        <th>删除</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="permission in $ctrl.permissions">
                                        <td>{{ permission.project_name }}</td>
                                        <td>
                                            <div class="checkbox clip-check check-primary">
                                                <input type="checkbox" id="{{ permission.project_name + 'view_project_asset' }}" ng-model="permission.view_project_asset">
                                                <label for="{{ permission.project_name + 'view_project_asset' }}">
                                                </label>
                                            </div>
                                        <td>
                                            <div class="checkbox clip-check check-primary">
                                                <input type="checkbox" id="{{ permission.project_name + 'add_project_asset' }}" ng-model="permission.add_project_asset">
                                                <label for="{{ permission.project_name + 'add_project_asset' }}">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox clip-check check-primary">
                                                <input type="checkbox" id="{{ permission.project_name + 'change_project_asset' }}" ng-model="permission.change_project_asset">
                                                <label for="{{ permission.project_name + 'change_project_asset' }}">
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox clip-check check-primary">
                                                <input type="checkbox" id="{{ permission.project_name + 'del_project_asset' }}" ng-model="permission.del_project_asset">
                                                <label for="{{ permission.project_name + 'del_project_asset' }}">
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="flyover" ng-show="$ctrl.loading">
                    <div class="mask"></div>
                    <div class="alert">
                        <strong><img src="/static/images/loading.gif" width="64"></strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-times-circle-o fa-lg" aria-hidden="true"></i></span>
                        </button>
                        <h4 class="modal-title">添加用户组</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-horizontal" name="createForm" novalidate>
                            <div class="form-group" ng-class="{true: 'has-error', false: ''}[createForm.name.$dirty &&  createForm.name.$invalid]">
                                <label class="col-sm-2 control-label" for="name">
                                    用户组名
                                </label>
                                <div class="col-sm-10" >
                                    <input type="text" name="name" placeholder="用户组名（2-16个字符）" id="name" class="form-control" required ng-model="$ctrl.create_form_data.name" minlength=2 maxlength="16">
                                    <span ng-show="createForm.name.$dirty &&  createForm.name.$invalid">
                                        <span ng-show="createForm.name.$error.required" class="help-block">用户名不能为空</span>
                                        <span ng-show="createForm.name.$error.minlength||createForm.name.$error.maxlength" class="help-block">用户组名长度必须在2-16之间</span>
                                    </span>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-disabled="createForm.$invalid" ng-click="$ctrl.create_group(createForm)" data-dismiss="modal">
                            确定
                        </button>
                        <button type="button" class="btn btn-primary btn-o" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade bs-example-modal-lg" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-times-circle-o fa-lg" aria-hidden="true"></i></span>
                        </button>
                        <h4 class="modal-title">添加用户组</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-horizontal" name="editForm" novalidate>
                            <div class="form-group" ng-class="{true: 'has-error', false: ''}[editForm.new_name.$dirty &&  editForm.new_name.$invalid]">
                                <label class="col-sm-2 control-label" for="new_name">
                                    用户组名
                                </label>
                                <div class="col-sm-10" >
                                    <input type="text" name="new_name" placeholder="用户组名（2-16个字符）" id="new_name" class="form-control" required ng-model="$ctrl.change_form_data.name" minlength=2 maxlength="16">
                                    <span ng-show="editForm.new_name.$dirty &&  editForm.new_name.$invalid">
                                        <span ng-show="editForm.new_name.$error.required" class="help-block">用户名不能为空</span>
                                        <span ng-show="editForm.new_name.$error.minlength||editForm.new_name.$error.maxlength" class="help-block">用户组名长度必须在2-16之间</span>
                                    </span>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-disabled="editForm.$invalid" ng-click="$ctrl.edit_group(editForm)" data-dismiss="modal">
                            确定
                        </button>
                        <button type="button" class="btn btn-primary btn-o" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </div>



